.login--wrapper {
    position: fixed; 
    top: 50%;
    left: 50%;       
    transform: translate(-50%, -50%);
    
} 

.login--btn {
    position: relative;
    width: 100%;
} 

.btn--logo {
    position: absolute;
    right: 7.5%;
    top: 15%; 
    width: 2rem;  
}

